ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



li {
    float: left;
    border-right:1px solid #bbb;
    list-style-type: none;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

section{
    float: left;
    width: 70%;
    height: 70%;
}

header {
    background-color:  #f0b27a ; 
    height: 50px;
}

main {
    background-color: #d5dbdb;
}

aside {
    background-color: #f1948a;
}

footer {
    background-color: #a9cce3; 
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
   
}

aside{
    float: right;
    width: 30%;
    height: 70%;
}